---
import "~/styles/global.css";
import Header from "./Header.astro";
import Head from "./Head.astro";
---

<!doctype html>
<html lang="id">
  <Head />
  <body>
    <Header />
    <main
      class="bg-slate-900 text-white font-sans antialiased overflow-x-hidden"
    >
      <slot />
    </main>
    <footer>
      <!-- Informasi kontak atau tautan sosial -->
    </footer>
  </body>
</html>

<style></style>
